<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{${link}}" method="post" th:object="${product}">
    <div th:if="${link == '/create'}">
        id: <input th:field="*{id}" ><br>
    </div>
    <div th:if="${link == '/edit'}">
        id: <input th:field="*{id}" readonly><br>
    </div>
    Name: <input th:field="*{name}"><br>
    price: <input th:field="*{price}"><br>
    status: <input th:field="*{status}"><br>
    Manufacturer: <input th:field="*{manufacturer}"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>