<div *ngIf="producesSelect">
  <form [formGroup]="productFormEdit" novalidate autocomplete="off" (ngSubmit)="saveEdit()">
    <table>
      <table>
        <tr>
          <td>Mã sản phẩm:</td>
          <td><input type="number" formControlName="id" name="id"></td>
        </tr>
        <tr>
          <td>Tên sản phẩm:</td>
          <td><input type="text" formControlName="name" name="name"></td>
        </tr>
        <tr>
          <td>Giá sản phẩm</td>
          <td><input type="number" formControlName="price" name="price"></td>
        </tr>
        <tr>
          <td>Mô tả về sản phẩm</td>
          <td><input type="text" formControlName="description" name="description"></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit">Tạo mới</button></td>
        </tr>
      </table>
    </table>
  </form>
</div>

